body {
    padding-top: 60px;
}
      
footer {
    height: 50px;
    background-color: #f5f5f5;
    padding-top: 15px;
    margin-top: 15px;
}

td {
    vertical-align: top;
}

.msftcertlogo {
    width: 130px;
    margin-bottom: 20px;  
}

.PostDate {
    color: darkgray;
    font-size: smaller;
}

.PoshGetMember {
    font-family: 'Courier New', monospace;
    font-size: smaller;
}
      
.PoshGetMember td,th {
    padding-left: 7px;
}

#PageBuildFailedGotchas td,th {
    padding: 7px;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: gray;
}

#headshot {
    margin-bottom: 20px;
}

#mcsa-logo {
      
}

