body {
    padding-top: 60px;
}
      
footer {
    height: 50px;
    background-color: #f5f5f5;
    padding-top: 15px;
    margin-top: 15px;
}

td {
    vertical-align: top;
}

.msftcertlogo {
    width: 130px;
    margin-bottom: 20px;  
}
      
#headshot {
    margin-bottom: 20px;
}

#mcsa-logo {
      
}

.PostDate {
    color: darkgray;
    font-size: smaller;
}