<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
        <meta name="keywords" content="{{ page.keywords }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link href="http://ajax.aspnetcdn.com/ajax/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="/css/bootpolish.css" rel="stylesheet" />
        <link href="http://ajax.aspnetcdn.com/ajax/bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="/css/syntax.css" rel="stylesheet" />
	</head>
	<body>
        {% include analyticstracking.html %}
        {% include navbar.html %}


        <div style="margin-top:20px;">
	    {{ content }}
        </div>

        {% include postsList.html %}

        {% include footer.html %}
	</body>
</html>

