<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
        <meta name="keywords" content="{{ page.keywords }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="http://ajax.aspnetcdn.com/ajax/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="/css/bootpolish.css" rel="stylesheet" />
        <link href="http://ajax.aspnetcdn.com/ajax/bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="/css/syntax.css" rel="stylesheet" />
	</head>
	<body>
        {% include navbar.html %}


        <div style="margin-top:20px;">
	    {{ content }}
        </div>

        <div class="container">
            <div class="row">
                <div class="offset2 span8">
                    <h3>Articles</h3>
                    <ul class="nav">
                        {% for post in site.posts %}
                            <li><a href="{{ post.url }}">{{ post.date | date_to_string }} {{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div><!--/.container -->

        {% include footer.html %}
	</body>
</html>

